<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Crime</title>
		<meta charset="utf-8">

		<!-- Ensures proper rendering and touch zooming -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Bootstrap CSS
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->

		<!-- Bootstrap jQuery library -->
		<script src="jquery.min.js"></script>

		<!-- Bootstrap Latest compiled JavaScript -->
		<script src="bootstrap.min.js"></script>

		<!-- Stylesheet -->
		<link rel="stylesheet" href="styles/styleData.css">

		<!-- Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

		<!-- Icon -->
		<link rel="shortcut icon" type="image/x-icon" href="favico.png" />
	</head>

	<body>
		<div id="home">
			<a href="/">Home</a>
		</div>

		<div id="page-wrap">
			<h1>Crime</h1>
			<p>Crime seems to be on the decrease in all of London's borough's but which one will be the safest?</p>
			<h2>Past data</h2>
			<iframe width="933" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiMzFlYjgxNjItZDk5YS00NWM2LWFlMzctNDZkZmVlYjMxODc0IiwidCI6IjFmYWY4OGZlLWE5OTgtNGM1Yi05M2M5LTIxMGExMWQ5YTVjMiIsImMiOjh9" frameborder="0"></iframe>
		</div>

	</body>
</html>
