html { 
  background: url(../images/pic1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: rgba(0, 0, 0, 0.8);
}

#page-wrap { 
	width: 70%;
	margin: 0px auto;
	padding: 20px; 
	background: #eeeeee;
}

#home {
	width:10%;
}



.jumbotron h1 {
	color:#ffffff;
	font-weight: 400; 
	font-size: 85px;
	padding-top: 125px;
	text-shadow:  0 1px 8px rgba(0, 0, 0, 0.6);
}

.jumbotron p {
	color:#ffffff;
	font-size: 30px;
	text-shadow:  0 1px 8px rgba(0, 0, 0, 0.8);
}

.jumbobottom {
	padding: 0px;
	background-color: #00ff00;
	height: 20px;
}

h2, h3 {
	text-shadow:  0 1px 1px rgba(0, 0, 0, 0.2);
}


.btn, .btn:visited {
	background-color: #6f9ab2;
	color: rgba(255, 255, 255, 0.8);
	border: none;
	border-radius: 24px;
	box-shadow: 0 2px 0 0 #537284;
}

.btn:hover {
	background-color: #80b1cc;
	color: rgba(255, 255, 255, 0.8);
}

.btn:active:focus {
	background: #80b1cc;
    box-shadow: none;
    margin-bottom: -2px;
    margin-top: 2px;
	color: rgba(255, 255, 255, 0.8);
}

/* unvisited link */
#home a:link {
    color: rgba(0, 0, 0, 0.8);
	text-decoration: none;
}

/* visited link */
#home a:visited {
    color: rgba(0, 0, 0, 0.8);
}

/* mouse over link */
#home a:hover {
    color: rgba(0, 0, 0, 0.6);
}

/* selected link */
#home a:active {
    color: rgba(0, 0, 0, 0.3);
}

/* unvisited link */
a:link {
    color: #6f9ab2;
	text-decoration: none;
}

/* visited link */
a:visited {
    color: #6f9ab2;
}

/* mouse over link */
a:hover {
    color: #80b1cc;
}

/* selected link */
a:active {
    color: #80b1cc;
}

footer {
	padding-top: 20px;
	float: bottom;
}


